plugins/sources/source-soap-wansoft/src/wsdl.v1.xml

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="GetSaleByOrder">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSaleByOrderResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSaleByOrderResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrdersByDay_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrdersByDay_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOrdersByDay_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrdersByDay_Xml">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrdersByDay_XmlResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOrdersByDay_XmlResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetAllOrdersByDay_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetAllOrdersByDay_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetAllOrdersByDay_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryByDepartment">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryByDepartmentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInventoryByDepartmentResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryByWarehouse_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryByWarehouse_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInventoryByWarehouse_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventory_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventory_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInventory_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPurchaseOrdersReceived">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPurchaseOrdersReceivedResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPurchaseOrdersReceivedResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByPaymentType_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByPaymentType_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSalesByPaymentType_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByGroupType">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByGroupTypeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSalesByGroupTypeResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesStatisticsByGroupType">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesStatisticsByGroupTypeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSalesStatisticsByGroupTypeResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByGroup_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSalesByGroup_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSalesByGroup_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDebtsToPay">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDebtsToPayResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetDebtsToPayResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDiscountsByDate_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDiscountsByDate_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetDiscountsByDate_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalPurchasesByDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalPurchasesByDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetTotalPurchasesByDateResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalTransfersByDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="departmentsToIgnore" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalTransfersByDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetTotalTransfersByDateResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalCostByDate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTotalCostByDateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetTotalCostByDateResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetGetinFile">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="subsidiaryName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetGetinFileResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetGetinFileResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOutgoingInventory_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOutgoingInventory_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOutgoingInventory_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddInventory_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="warehouseCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:decimal"/>
                        <s:element minOccurs="1" maxOccurs="1" name="unitCost" type="s:decimal"/>
                        <s:element minOccurs="1" maxOccurs="1" name="date" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="expirationDate" nillable="true" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddInventory_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddInventory_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveInventory_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="warehouseCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:decimal"/>
                        <s:element minOccurs="1" maxOccurs="1" name="date" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveInventory_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveInventory_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreateProduct_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="departmentCode" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="productTypeId" type="s:short"/>
                        <s:element minOccurs="1" maxOccurs="1" name="budgetedCost" type="s:decimal"/>
                        <s:element minOccurs="1" maxOccurs="1" name="withTax" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreateProduct_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CreateProduct_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EditProduct_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="newProductCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="unitOfMeasureCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="departmentCode" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="productTypeId" type="s:short"/>
                        <s:element minOccurs="1" maxOccurs="1" name="budgetedCost" type="s:decimal"/>
                        <s:element minOccurs="1" maxOccurs="1" name="withTax" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EditProduct_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="EditProduct_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDepartments_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDepartments_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetDepartments_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetUnitOfMeasures_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetUnitOfMeasures_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetUnitOfMeasures_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetWarehouses_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetWarehouses_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetWarehouses_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProducts_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProducts_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetProducts_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProduct_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProduct_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetProduct_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExpenses_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetExpenses_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetExpenses_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MarkExpenseAsPaid_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="documentId" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MarkExpenseAsPaid_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="MarkExpenseAsPaid_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetIncomes_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetIncomes_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetIncomes_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPdfIncomeByDocumentId">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="documentId" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPdfIncomeByDocumentIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPdfIncomeByDocumentIdResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPaymentOfExpenses_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPaymentOfExpenses_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPaymentOfExpenses_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInputInventory_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInputInventory_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInputInventory_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetAccessControl_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetAccessControl_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetAccessControl_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPendingPurchaseOrders_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPendingPurchaseOrders_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPendingPurchaseOrders_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ChangeStatusPurchaseOrder_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="purchaseOrderId" type="s:int"/>
                        <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ChangeStatusPurchaseOrder_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ChangeStatusPurchaseOrder_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SavePricePresentation_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="supplierCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="presentationCode" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SavePricePresentation_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SavePricePresentation_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetGlobalCashClosing_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetGlobalCashClosing_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetGlobalCashClosing_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCfdis_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCfdis_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetCfdis_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSaleDetailsWithInvoiceInfo_Json">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="subsidiaryId" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pwdWebService" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="operationDate" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSaleDetailsWithInvoiceInfo_JsonResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetSaleDetailsWithInvoiceInfo_JsonResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetSaleByOrderSoapIn">
        <wsdl:part name="parameters" element="tns:GetSaleByOrder"/>
    </wsdl:message>
    <wsdl:message name="GetSaleByOrderSoapOut">
        <wsdl:part name="parameters" element="tns:GetSaleByOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOrdersByDay_JsonSoapIn">
        <wsdl:part name="parameters" element="tns:GetOrdersByDay_Json"/>
    </wsdl:message>
    <wsdl:message name="GetOrdersByDay_JsonSoapOut">
        <wsdl:part name="parameters" element="tns:GetOrdersByDay_JsonResponse"/>
    </wsdl:message>
</wsdl:message>
<wsdl:message name="GetAllOrdersByDay_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOrdersByDay_Json"/>
</wsdl:message>
<wsdl:message name="GetAllOrdersByDay_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOrdersByDay_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetInventoryByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryByDepartment"/>
</wsdl:message>
<wsdl:message name="GetInventoryByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryByDepartmentResponse"/>
</wsdl:message>
<wsdl:message name="GetInventoryByWarehouse_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryByWarehouse_Json"/>
</wsdl:message>
<wsdl:message name="GetInventoryByWarehouse_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryByWarehouse_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetInventory_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_Json"/>
</wsdl:message>
<wsdl:message name="GetInventory_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetPurchaseOrdersReceivedSoapIn">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrdersReceived"/>
</wsdl:message>
<wsdl:message name="GetPurchaseOrdersReceivedSoapOut">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrdersReceivedResponse"/>
</wsdl:message>
<wsdl:message name="GetSalesByPaymentType_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesByPaymentType_Json"/>
</wsdl:message>
<wsdl:message name="GetSalesByPaymentType_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesByPaymentType_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetSalesByGroupTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesByGroupType"/>
</wsdl:message>
<wsdl:message name="GetSalesByGroupTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesByGroupTypeResponse"/>
</wsdl:message>
<wsdl:message name="GetSalesStatisticsByGroupTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesStatisticsByGroupType"/>
</wsdl:message>
<wsdl:message name="GetSalesStatisticsByGroupTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesStatisticsByGroupTypeResponse"/>
</wsdl:message>
<wsdl:message name="GetSalesByGroup_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesByGroup_Json"/>
</wsdl:message>
<wsdl:message name="GetSalesByGroup_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesByGroup_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetDebtsToPaySoapIn">
    <wsdl:part name="parameters" element="tns:GetDebtsToPay"/>
</wsdl:message>
<wsdl:message name="GetDebtsToPaySoapOut">
    <wsdl:part name="parameters" element="tns:GetDebtsToPayResponse"/>
</wsdl:message>
<wsdl:message name="GetDiscountsByDate_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetDiscountsByDate_Json"/>
</wsdl:message>
<wsdl:message name="GetDiscountsByDate_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetDiscountsByDate_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetTotalPurchasesByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalPurchasesByDate"/>
</wsdl:message>
<wsdl:message name="GetTotalPurchasesByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalPurchasesByDateResponse"/>
</wsdl:message>
<wsdl:message name="GetTotalTransfersByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalTransfersByDate"/>
</wsdl:message>
<wsdl:message name="GetTotalTransfersByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalTransfersByDateResponse"/>
</wsdl:message>
<wsdl:message name="GetTotalCostByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalCostByDate"/>
</wsdl:message>
<wsdl:message name="GetTotalCostByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalCostByDateResponse"/>
</wsdl:message>
<wsdl:message name="GetGetinFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetGetinFile"/>
</wsdl:message>
<wsdl:message name="GetGetinFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetGetinFileResponse"/>
</wsdl:message>
<wsdl:message name="GetOutgoingInventory_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetOutgoingInventory_Json"/>
</wsdl:message>
<wsdl:message name="GetOutgoingInventory_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetOutgoingInventory_JsonResponse"/>
</wsdl:message>
<wsdl:message name="AddInventory_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:AddInventory_Json"/>
</wsdl:message>
<wsdl:message name="AddInventory_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:AddInventory_JsonResponse"/>
</wsdl:message>
<wsdl:message name="RemoveInventory_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveInventory_Json"/>
</wsdl:message>
<wsdl:message name="RemoveInventory_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveInventory_JsonResponse"/>
</wsdl:message>
<wsdl:message name="CreateProduct_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProduct_Json"/>
</wsdl:message>
<wsdl:message name="CreateProduct_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProduct_JsonResponse"/>
</wsdl:message>
<wsdl:message name="EditProduct_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:EditProduct_Json"/>
</wsdl:message>
<wsdl:message name="EditProduct_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:EditProduct_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetDepartments_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments_Json"/>
</wsdl:message>
<wsdl:message name="GetDepartments_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartments_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetUnitOfMeasures_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnitOfMeasures_Json"/>
</wsdl:message>
<wsdl:message name="GetUnitOfMeasures_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnitOfMeasures_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetWarehouses_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarehouses_Json"/>
</wsdl:message>
<wsdl:message name="GetWarehouses_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarehouses_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetProducts_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts_Json"/>
</wsdl:message>
<wsdl:message name="GetProducts_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetProducts_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetProduct_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetProduct_Json"/>
</wsdl:message>
<wsdl:message name="GetProduct_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetProduct_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetExpenses_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetExpenses_Json"/>
</wsdl:message>
<wsdl:message name="GetExpenses_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetExpenses_JsonResponse"/>
</wsdl:message>
<wsdl:message name="MarkExpenseAsPaid_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:MarkExpenseAsPaid_Json"/>
</wsdl:message>
<wsdl:message name="MarkExpenseAsPaid_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:MarkExpenseAsPaid_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetIncomes_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncomes_Json"/>
</wsdl:message>
<wsdl:message name="GetIncomes_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncomes_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetPdfIncomeByDocumentIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPdfIncomeByDocumentId"/>
</wsdl:message>
<wsdl:message name="GetPdfIncomeByDocumentIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPdfIncomeByDocumentIdResponse"/>
</wsdl:message>
<wsdl:message name="GetPaymentOfExpenses_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaymentOfExpenses_Json"/>
</wsdl:message>
<wsdl:message name="GetPaymentOfExpenses_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaymentOfExpenses_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetInputInventory_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetInputInventory_Json"/>
</wsdl:message>
<wsdl:message name="GetInputInventory_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetInputInventory_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetAccessControl_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessControl_Json"/>
</wsdl:message>
<wsdl:message name="GetAccessControl_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessControl_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetPendingPurchaseOrders_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingPurchaseOrders_Json"/>
</wsdl:message>
<wsdl:message name="GetPendingPurchaseOrders_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingPurchaseOrders_JsonResponse"/>
</wsdl:message>
<wsdl:message name="ChangeStatusPurchaseOrder_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeStatusPurchaseOrder_Json"/>
</wsdl:message>
<wsdl:message name="ChangeStatusPurchaseOrder_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeStatusPurchaseOrder_JsonResponse"/>
</wsdl:message>
<wsdl:message name="SavePricePresentation_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:SavePricePresentation_Json"/>
</wsdl:message>
<wsdl:message name="SavePricePresentation_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:SavePricePresentation_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetGlobalCashClosing_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetGlobalCashClosing_Json"/>
</wsdl:message>
<wsdl:message name="GetGlobalCashClosing_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetGlobalCashClosing_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetCfdis_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetCfdis_Json"/>
</wsdl:message>
<wsdl:message name="GetCfdis_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetCfdis_JsonResponse"/>
</wsdl:message>
<wsdl:message name="GetSaleDetailsWithInvoiceInfo_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleDetailsWithInvoiceInfo_Json"/>
</wsdl:message>
<wsdl:message name="GetSaleDetailsWithInvoiceInfo_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleDetailsWithInvoiceInfo_JsonResponse"/>
</wsdl:message>
<wsdl:portType name="IntegrationServiceSoap">
    <wsdl:operation name="GetSaleByOrder">
        <wsdl:input message="tns:GetSaleByOrderSoapIn"/>
        <wsdl:output message="tns:GetSaleByOrderSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByDay_Json">
        <wsdl:input message="tns:GetOrdersByDay_JsonSoapIn"/>
        <wsdl:output message="tns:GetOrdersByDay_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersByDay_Json">
        <wsdl:input message="tns:GetAllOrdersByDay_JsonSoapIn"/>
        <wsdl:output message="tns:GetAllOrdersByDay_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByDepartment">
        <wsdl:input message="tns:GetInventoryByDepartmentSoapIn"/>
        <wsdl:output message="tns:GetInventoryByDepartmentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByWarehouse_Json">
        <wsdl:input message="tns:GetInventoryByWarehouse_JsonSoapIn"/>
        <wsdl:output message="tns:GetInventoryByWarehouse_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_Json">
        <wsdl:input message="tns:GetInventory_JsonSoapIn"/>
        <wsdl:output message="tns:GetInventory_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrdersReceived">
        <wsdl:input message="tns:GetPurchaseOrdersReceivedSoapIn"/>
        <wsdl:output message="tns:GetPurchaseOrdersReceivedSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByPaymentType_Json">
        <wsdl:input message="tns:GetSalesByPaymentType_JsonSoapIn"/>
        <wsdl:output message="tns:GetSalesByPaymentType_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroupType">
        <wsdl:input message="tns:GetSalesByGroupTypeSoapIn"/>
        <wsdl:output message="tns:GetSalesByGroupTypeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesStatisticsByGroupType">
        <wsdl:input message="tns:GetSalesStatisticsByGroupTypeSoapIn"/>
        <wsdl:output message="tns:GetSalesStatisticsByGroupTypeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroup_Json">
        <wsdl:input message="tns:GetSalesByGroup_JsonSoapIn"/>
        <wsdl:output message="tns:GetSalesByGroup_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetDebtsToPay">
        <wsdl:input message="tns:GetDebtsToPaySoapIn"/>
        <wsdl:output message="tns:GetDebtsToPaySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetDiscountsByDate_Json">
        <wsdl:input message="tns:GetDiscountsByDate_JsonSoapIn"/>
        <wsdl:output message="tns:GetDiscountsByDate_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPurchasesByDate">
        <wsdl:input message="tns:GetTotalPurchasesByDateSoapIn"/>
        <wsdl:output message="tns:GetTotalPurchasesByDateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransfersByDate">
        <wsdl:input message="tns:GetTotalTransfersByDateSoapIn"/>
        <wsdl:output message="tns:GetTotalTransfersByDateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCostByDate">
        <wsdl:input message="tns:GetTotalCostByDateSoapIn"/>
        <wsdl:output message="tns:GetTotalCostByDateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetGetinFile">
        <wsdl:input message="tns:GetGetinFileSoapIn"/>
        <wsdl:output message="tns:GetGetinFileSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingInventory_Json">
        <wsdl:input message="tns:GetOutgoingInventory_JsonSoapIn"/>
        <wsdl:output message="tns:GetOutgoingInventory_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddInventory_Json">
        <wsdl:input message="tns:AddInventory_JsonSoapIn"/>
        <wsdl:output message="tns:AddInventory_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RemoveInventory_Json">
        <wsdl:input message="tns:RemoveInventory_JsonSoapIn"/>
        <wsdl:output message="tns:RemoveInventory_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct_Json">
        <wsdl:input message="tns:CreateProduct_JsonSoapIn"/>
        <wsdl:output message="tns:CreateProduct_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="EditProduct_Json">
        <wsdl:input message="tns:EditProduct_JsonSoapIn"/>
        <wsdl:output message="tns:EditProduct_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments_Json">
        <wsdl:input message="tns:GetDepartments_JsonSoapIn"/>
        <wsdl:output message="tns:GetDepartments_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetUnitOfMeasures_Json">
        <wsdl:input message="tns:GetUnitOfMeasures_JsonSoapIn"/>
        <wsdl:output message="tns:GetUnitOfMeasures_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouses_Json">
        <wsdl:input message="tns:GetWarehouses_JsonSoapIn"/>
        <wsdl:output message="tns:GetWarehouses_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetProducts_Json">
        <wsdl:input message="tns:GetProducts_JsonSoapIn"/>
        <wsdl:output message="tns:GetProducts_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetProduct_Json">
        <wsdl:input message="tns:GetProduct_JsonSoapIn"/>
        <wsdl:output message="tns:GetProduct_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetExpenses_Json">
        <wsdl:input message="tns:GetExpenses_JsonSoapIn"/>
        <wsdl:output message="tns:GetExpenses_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="MarkExpenseAsPaid_Json">
        <wsdl:input message="tns:MarkExpenseAsPaid_JsonSoapIn"/>
        <wsdl:output message="tns:MarkExpenseAsPaid_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetIncomes_Json">
        <wsdl:input message="tns:GetIncomes_JsonSoapIn"/>
        <wsdl:output message="tns:GetIncomes_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPdfIncomeByDocumentId">
        <wsdl:input message="tns:GetPdfIncomeByDocumentIdSoapIn"/>
        <wsdl:output message="tns:GetPdfIncomeByDocumentIdSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentOfExpenses_Json">
        <wsdl:input message="tns:GetPaymentOfExpenses_JsonSoapIn"/>
        <wsdl:output message="tns:GetPaymentOfExpenses_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetInputInventory_Json">
        <wsdl:input message="tns:GetInputInventory_JsonSoapIn"/>
        <wsdl:output message="tns:GetInputInventory_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAccessControl_Json">
        <wsdl:input message="tns:GetAccessControl_JsonSoapIn"/>
        <wsdl:output message="tns:GetAccessControl_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPendingPurchaseOrders_Json">
        <wsdl:input message="tns:GetPendingPurchaseOrders_JsonSoapIn"/>
        <wsdl:output message="tns:GetPendingPurchaseOrders_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusPurchaseOrder_Json">
        <wsdl:input message="tns:ChangeStatusPurchaseOrder_JsonSoapIn"/>
        <wsdl:output message="tns:ChangeStatusPurchaseOrder_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SavePricePresentation_Json">
        <wsdl:input message="tns:SavePricePresentation_JsonSoapIn"/>
        <wsdl:output message="tns:SavePricePresentation_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCashClosing_Json">
        <wsdl:input message="tns:GetGlobalCashClosing_JsonSoapIn"/>
        <wsdl:output message="tns:GetGlobalCashClosing_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCfdis_Json">
        <wsdl:input message="tns:GetCfdis_JsonSoapIn"/>
        <wsdl:output message="tns:GetCfdis_JsonSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSaleDetailsWithInvoiceInfo_Json">
        <wsdl:input message="tns:GetSaleDetailsWithInvoiceInfo_JsonSoapIn"/>
        <wsdl:output message="tns:GetSaleDetailsWithInvoiceInfo_JsonSoapOut"/>
    </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IntegrationServiceSoap" type="tns:IntegrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSaleByOrder">
        <soap:operation soapAction="http://tempuri.org/GetSaleByOrder" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByDay_Json">
        <soap:operation soapAction="http://tempuri.org/GetOrdersByDay_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersByDay_Json">
        <soap:operation soapAction="http://tempuri.org/GetAllOrdersByDay_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByDepartment">
        <soap:operation soapAction="http://tempuri.org/GetInventoryByDepartment" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByWarehouse_Json">
        <soap:operation soapAction="http://tempuri.org/GetInventoryByWarehouse_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_Json">
        <soap:operation soapAction="http://tempuri.org/GetInventory_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrdersReceived">
        <soap:operation soapAction="http://tempuri.org/GetPurchaseOrdersReceived" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByPaymentType_Json">
        <soap:operation soapAction="http://tempuri.org/GetSalesByPaymentType_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroupType">
        <soap:operation soapAction="http://tempuri.org/GetSalesByGroupType" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesStatisticsByGroupType">
        <soap:operation soapAction="http://tempuri.org/GetSalesStatisticsByGroupType" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroup_Json">
        <soap:operation soapAction="http://tempuri.org/GetSalesByGroup_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtsToPay">
        <soap:operation soapAction="http://tempuri.org/GetDebtsToPay" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiscountsByDate_Json">
        <soap:operation soapAction="http://tempuri.org/GetDiscountsByDate_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPurchasesByDate">
        <soap:operation soapAction="http://tempuri.org/GetTotalPurchasesByDate" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransfersByDate">
        <soap:operation soapAction="http://tempuri.org/GetTotalTransfersByDate" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCostByDate">
        <soap:operation soapAction="http://tempuri.org/GetTotalCostByDate" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetinFile">
        <soap:operation soapAction="http://tempuri.org/GetGetinFile" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingInventory_Json">
        <soap:operation soapAction="http://tempuri.org/GetOutgoingInventory_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInventory_Json">
        <soap:operation soapAction="http://tempuri.org/AddInventory_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveInventory_Json">
        <soap:operation soapAction="http://tempuri.org/RemoveInventory_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct_Json">
        <soap:operation soapAction="http://tempuri.org/CreateProduct_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct_Json">
        <soap:operation soapAction="http://tempuri.org/EditProduct_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments_Json">
        <soap:operation soapAction="http://tempuri.org/GetDepartments_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitOfMeasures_Json">
        <soap:operation soapAction="http://tempuri.org/GetUnitOfMeasures_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouses_Json">
        <soap:operation soapAction="http://tempuri.org/GetWarehouses_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts_Json">
        <soap:operation soapAction="http://tempuri.org/GetProducts_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct_Json">
        <soap:operation soapAction="http://tempuri.org/GetProduct_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenses_Json">
        <soap:operation soapAction="http://tempuri.org/GetExpenses_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkExpenseAsPaid_Json">
        <soap:operation soapAction="http://tempuri.org/MarkExpenseAsPaid_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomes_Json">
        <soap:operation soapAction="http://tempuri.org/GetIncomes_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomesByDocumentId_Xml">
        <soap:operation soapAction="http://tempuri.org/GetIncomesByDocumentId_Xml" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfIncomeByDocumentId">
        <soap:operation soapAction="http://tempuri.org/GetPdfIncomeByDocumentId" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentOfExpenses_Json">
        <soap:operation soapAction="http://tempuri.org/GetPaymentOfExpenses_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputInventory_Json">
        <soap:operation soapAction="http://tempuri.org/GetInputInventory_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessControl_Json">
        <soap:operation soapAction="http://tempuri.org/GetAccessControl_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingPurchaseOrders_Json">
        <soap:operation soapAction="http://tempuri.org/GetPendingPurchaseOrders_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusPurchaseOrder_Json">
        <soap:operation soapAction="http://tempuri.org/ChangeStatusPurchaseOrder_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePricePresentation_Json">
        <soap:operation soapAction="http://tempuri.org/SavePricePresentation_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCashClosing_Json">
        <soap:operation soapAction="http://tempuri.org/GetGlobalCashClosing_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCfdis_Json">
        <soap:operation soapAction="http://tempuri.org/GetCfdis_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleDetailsWithInvoiceInfo_Json">
        <soap:operation soapAction="http://tempuri.org/GetSaleDetailsWithInvoiceInfo_Json" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:binding name="IntegrationServiceSoap12" type="tns:IntegrationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSaleByOrder">
        <soap12:operation soapAction="http://tempuri.org/GetSaleByOrder" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByDay_Json">
        <soap12:operation soapAction="http://tempuri.org/GetOrdersByDay_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdersByDay_Json">
        <soap12:operation soapAction="http://tempuri.org/GetAllOrdersByDay_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByDepartment">
        <soap12:operation soapAction="http://tempuri.org/GetInventoryByDepartment" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByWarehouse_Json">
        <soap12:operation soapAction="http://tempuri.org/GetInventoryByWarehouse_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_Json">
        <soap12:operation soapAction="http://tempuri.org/GetInventory_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrdersReceived">
        <soap12:operation soapAction="http://tempuri.org/GetPurchaseOrdersReceived" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByPaymentType_Json">
        <soap12:operation soapAction="http://tempuri.org/GetSalesByPaymentType_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroupType">
        <soap12:operation soapAction="http://tempuri.org/GetSalesByGroupType" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesStatisticsByGroupType">
        <soap12:operation soapAction="http://tempuri.org/GetSalesStatisticsByGroupType" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesByGroup_Json">
        <soap12:operation soapAction="http://tempuri.org/GetSalesByGroup_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtsToPay">
        <soap12:operation soapAction="http://tempuri.org/GetDebtsToPay" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiscountsByDate_Json">
        <soap12:operation soapAction="http://tempuri.org/GetDiscountsByDate_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPurchasesByDate">
        <soap12:operation soapAction="http://tempuri.org/GetTotalPurchasesByDate" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalTransfersByDate">
        <soap12:operation soapAction="http://tempuri.org/GetTotalTransfersByDate" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCostByDate">
        <soap12:operation soapAction="http://tempuri.org/GetTotalCostByDate" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetinFile">
        <soap12:operation soapAction="http://tempuri.org/GetGetinFile" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingInventory_Json">
        <soap12:operation soapAction="http://tempuri.org/GetOutgoingInventory_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInventory_Json">
        <soap12:operation soapAction="http://tempuri.org/AddInventory_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveInventory_Json">
        <soap12:operation soapAction="http://tempuri.org/RemoveInventory_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct_Json">
        <soap12:operation soapAction="http://tempuri.org/CreateProduct_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct_Json">
        <soap12:operation soapAction="http://tempuri.org/EditProduct_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments_Json">
        <soap12:operation soapAction="http://tempuri.org/GetDepartments_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitOfMeasures_Json">
        <soap12:operation soapAction="http://tempuri.org/GetUnitOfMeasures_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouses_Json">
        <soap12:operation soapAction="http://tempuri.org/GetWarehouses_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts_Json">
        <soap12:operation soapAction="http://tempuri.org/GetProducts_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct_Json">
        <soap12:operation soapAction="http://tempuri.org/GetProduct_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenses_Json">
        <soap12:operation soapAction="http://tempuri.org/GetExpenses_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkExpenseAsPaid_Json">
        <soap12:operation soapAction="http://tempuri.org/MarkExpenseAsPaid_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomes_Json">
        <soap12:operation soapAction="http://tempuri.org/GetIncomes_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPdfIncomeByDocumentId">
        <soap12:operation soapAction="http://tempuri.org/GetPdfIncomeByDocumentId" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentOfExpenses_Json">
        <soap12:operation soapAction="http://tempuri.org/GetPaymentOfExpenses_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputInventory_Json">
        <soap12:operation soapAction="http://tempuri.org/GetInputInventory_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessControl_Json">
        <soap12:operation soapAction="http://tempuri.org/GetAccessControl_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingPurchaseOrders_Json">
        <soap12:operation soapAction="http://tempuri.org/GetPendingPurchaseOrders_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusPurchaseOrder_Json">
        <soap12:operation soapAction="http://tempuri.org/ChangeStatusPurchaseOrder_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePricePresentation_Json">
        <soap12:operation soapAction="http://tempuri.org/SavePricePresentation_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalCashClosing_Json">
        <soap12:operation soapAction="http://tempuri.org/GetGlobalCashClosing_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCfdis_Json">
        <soap12:operation soapAction="http://tempuri.org/GetCfdis_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleDetailsWithInvoiceInfo_Json">
        <soap12:operation soapAction="http://tempuri.org/GetSaleDetailsWithInvoiceInfo_Json" style="document"/>
        <wsdl:input>
            <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="IntegrationService">
    <wsdl:port name="IntegrationServiceSoap" binding="tns:IntegrationServiceSoap">
        <soap:address location="https://www.wansoft.net/wansoft.web/API/IntegrationService.asmx"/>
    </wsdl:port>
    <wsdl:port name="IntegrationServiceSoap12" binding="tns:IntegrationServiceSoap12">
        <soap12:address location="https://www.wansoft.net/wansoft.web/API/IntegrationService.asmx"/>
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>